* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 80px;
    background-color: #00FFFF;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.3);
}

.navbar {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1em;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    column-gap: 1em;
}

.navbar ul li{
    padding: 1em 2em;
    border-radius: 200px;
    transition: background-color 200ms ease-in-out;
}
.navbar ul li:hover{
    background-color: #006464;
    color: #00FFFF;
}

.logo {
    color: #006464;
    font-size: 2rem;
    font-style: italic;
    font-weight: bold;
}

main {
    display: flex;
    flex-direction: column;
}

article {
    min-height: 500px;
}

.article1 {
    background-color: #70FFFF;
    display: flex;
    
}
.article1 img{
    width: 100%;
    margin: 3em;
    border-radius: 1em;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.9);
}
.article1 div{
    width: 50%;
    margin: 3em;
    color: #006464;
}

.article1 .rate {
    width: 100px;
    display: flex;
    background-color: #00646448;
    border-radius: 200px;
    padding: 0.5em;
}


.article2 {
    background-color: #6fe7e7;
    display: flex;
    
}
.article2 img{
    width: 100%;
    border-radius: 1em;
}
.article2 div{
    width: 50%;
    margin: 3em;
    color: #006464;
}

.add-button {
    width: 100px;
    height: 100px;
    border: none;
    border-radius: 50%;
    background-color: #00646439;
    color: #006464;
}

footer {
    text-align: center;
    min-height: 20px;
    padding: 1em;
    color: rgb(92, 92, 92);
    background-color: #70FFFF;
}